trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:

- task: MSBuild@1
  inputs:
    solution: 'ProgramOverflow.sln'
    platform: 'Any CPU'
    configuration: 'Release'
    msbuildArguments: '/m'