name: .NET Framework

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore -p:Configuration=Release -p:Platform="Any CPU"
    - name: Building Program Overflow
      run: msbuild -p:Configuration=Release -p:Platform="Any CPU" -m
    - name: Testing Program Overflow
      run: dotnet test --no-restore --verbosity normal
